<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <application
        android:name=".core.ActivityLauncherApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityLauncher"
        tools:ignore="UnusedAttribute">


        <meta-data
            android:name="android.supports_size_changes"
            android:value="true" />

        <!-- BUG: 平行视界模式下转屏后、调整后、进入小窗后不会重启Activity，会导致布局错误。 -->
        <meta-data
            android:name="EasyGoClient"
            android:value="true" />

        <!-- BUG: EMUI 主题下搜索框不会显示返回按钮，因此需要直接将ActionBar设置为SearchView布局。 -->
        <!-- BUG: EMUI 5.1 下工具栏背景异常，EMUI 5.1 和 EMUI 6.0 下滚动点提示错误 -->
        <!-- 由于这些原因，不启用 EMUI 主题 -->
        <!-- <meta-data
            android:name="hwc-theme"
            android:value="androidhwext:style/Theme.Emui" /> -->
        <!--<meta-data
            android:name="hnc-theme"
            android:value="androidhnext:style/Theme.Magic"/> -->

        <activity
            android:name=".features.applist.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.gitee.jesse205.activitylauncher.features.activitylist.ActivityListActivity"
            android:exported="true"
            android:label="@string/title_app_list"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>