name: Build APK

on:
  workflow_call:
    outputs:
      artifact-id:
        description: "The ID of the uploaded artifact"
        value: ${{ jobs.build.outputs.artifact-id }}

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    outputs:
      artifact-id: ${{ steps.upload-apk.outputs.artifact-id }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build APK
        run: ./gradlew assembleRelease --stacktrace

      - name: Upload APK
        id: upload-apk
        uses: actions/upload-artifact@v4
        with:
          name: android-package
          path: app/build/outputs/apk/release/*.apk
