name: Build APK

on:
  workflow_call:
    outputs:
      artifact-id:
        description: "The ID of the uploaded artifact"
        value: ${{ jobs.build.outputs.artifact-id }}

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    outputs:
      artifact-id: ${{ steps.upload-apk.outputs.artifact-id }}
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Decode Keystore
        run: |
          mkdir -p app/keystores
          echo "${{ secrets.KEYSTORE_FILE }}" | base64 -d > ${{ github.workspace }}/app/keystores/keystore.jks
          chmod 600 app/keystores/keystore.jks

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build APK
        run: ./gradlew assembleRelease --stacktrace
        env:
          KEYSTORE_FILE: ${{ github.workspace }}/app/keystores/keystore.jks
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Upload APK
        id: upload-apk
        uses: actions/upload-artifact@v4
        with:
          name: android-package
          path: app/build/outputs/apk/release/*.apk
